body {
    background-image: url(background.png);
    color: black;
    font-family: sans-serif;
}

.gif1 {
    width: 190px;
    transform: scale(1, 1);
}

.gif2 {
    width: 190px;
    transform: scale(-1, 1);
}

.container {
    background: rgba(64, 238, 229, 0.7);
    display: block;
    width: 650px;
    margin: 100px auto 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 16px 30px;
}

ul {
    margin: 5px 0;
    padding: 0;
}

li * {
    float: left;
}

li, h3 {
    clear: both;
    list-style: none;
}

input, button {
    outline: none;
}

.link1 {
    color: black;
    font-family: monospace;
    margin-left: 35%;
    font-size: 18px;
}
button {
    background: rgba(64, 238, 229, 0.699);
    border: 0px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    float: right;
    margin: 8px auto;
}

button:hover {
    color: rgb(10, 201, 26);
    font-weight: bold;
}

#add:hover {
    border-radius: 10px;
}

#add {
    float: center;
    background: rgba(149, 241, 226, 0.753);
    height: 40px;
    width: 100px;
    padding: 10px;
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid #000000;
}

.info {
    margin-top: 15%;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
}

.first {
    color: black;
    text-align: left;
    font-size: 21px;
    text-transform: uppercase;   
}

input[type="text"] {
    margin: 1px 0;
    font-size: 18px;
    line-height: 18px;
    height: 40px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
}

input[type="text"]:focus {
    color: black;
}

label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}

input#new-task {
    float: left;
    width: 510px;
}

li {
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
    transform: scale(1.5);
}

li > label {
    font-size: 18px;
    line-height: 40px;
    width: auto;
    padding: 1px 0 0 11px
}

li > input[type="text"] {
    width: 457px;
}

li > .delete:hover {
    color: rgb(238, 12, 12);
}

.finished-tasks label {
    color: rgb(15, 95, 7);
}



ul li input[type=text] {
    display: none;
}

ul li.editMode input[type=text] {
    display: block;
}

ul li.editMode label {
    display: none;
}

button.checkbox {
    float: left;
}

