body {
    background: rgba(91, 217, 248, 0.61);
    color: black;
    font-family: sans-serif;
    display: flex;
    width: 100%;
    align-content: left;
}

header {
    height: 70px;
    padding-top: 30px;
    padding-left: 30%;
    font-size: 30px;
    font-weight: bold;
    background: rgba(2, 183, 255, 0.514);
    font-size: 30px;
    width: 100%;
    align-content: left;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    display: flex;
    height: 20px;
    width: 60%;
    padding-top: 90%;
    position: fixed;
}

.container {
    padding-left: 25%;
    top: 20%;
    width: 750px;
    font-size: 30px;
    position: absolute;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    align-items: left;
}

li * {
    float: left;
    border
}

li, h3 {
    clear: both;
    list-style: none;
}

input, button {
    outline: none;
}

button {
    background: rgba(126, 180, 241, 0.836);
    color: #000000;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    float: right;
    margin: 8px auto;
}

button:hover {
    color: black;
}

#add:hover {
    background: rgb(3, 119, 72);
}

#add {
    float: right;
    width: 105px;
    padding: 10px;
    margin-top: 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

h3 {
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding: 15px 0;
}

input[type="text"] {
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    background: rgba(226, 226, 226, 0.904);
    font-family: sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: black;
}

label[for='new-task'] {
    display: block;
}

input#new-task {
    float: left;
    width: 620px;
}

p > button:hover {
    color: rgb(2, 78, 48);
}

li {
    overflow: hidden;
}

li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
    transform: scale(1.5);
}

li > label {
    font-size: 18px;
    line-height: 40px;
    width: 300px;
    margin-left: 0;
}

li > input[type="text"] {
    width: 600px;
    display: flex;
}

li > .delete:hover {
    color: rgb(216, 4, 4);
}

li > .edit:hover {
    color: rgb(6, 3, 197);
}

li > .checkbox:hover {
    color: rgb(3, 179, 27);
}

#finished-tasks label, #finished-tasks .checkbox {
    color: rgb(0, 124, 56);
}

ul#finished-tasks > .edit {
    overflow: hidden;
}

.finished-tasks{
    overflow: hidden;
}

ul li input[type=text] {
    display: none;
}

ul li.editMode input[type=text] {
    display: block;
}

ul li.editMode label {
    display: none;
}

button.checkbox {
    float: left;
}

#mainblock {
    align-items: center;
}

.material-icons edit {
    overflow: hidden;
}